<template>
  <div>
    <label><slot></slot></label>
    <input
      :value="value"
      @input="getInputValue"
      class="form-control"
    />
  </div>
</template>

<script>

export default {
  name:'BaseInput',
  props: [
    "value",
    "placeholder",
  ],
  model: {
    prop: "value",
  },
  methods: {
    getInputValue(evnet) {
      this.$emit("input", evnet.target.value);
    }
  }
};
</script>

<style>
  label{
    /*position: absolute;*/
    /*left:25px;*/
    /*top:10px;*/
    font-size: 14px;
    opacity: 1;
  }
  input:focus, select:focus{
    box-shadow: none !important;
    outline: none;
    border: 1px solid #4e33e2 !important;
    opacity: ;
  }
  input:focus + label {
    color:#4e33e2;
    font-size: 11px;
    top:8px;
    left: 25px;
    transition: all 0.3s;
  }
  input{
    padding: 20px !important;
    margin-bottom: 20px;
    background-color: #EFEFEF;
  }
</style>