<template>
  <button class="submit_btn" type="submit">
    <slot></slot>
  </button>
</template>

<script>
export default {

};
</script>

<style>
	button.submit_btn{
		background:linear-gradient(45deg, #4734E1, #8E27EA);
		padding:10px;
		border-radius: 30px;
		border:none;
		width: 200px;
		color:#fff;
	}
</style>