<template>
  <div>
    <div class="custom_radio" >
    <label class="base_rd_container" :for="option">
      <img src="../../assets/images/step_2/one.png" alt="">
      <input
        type="radio"
        :value="option"
        :id="option"
        @change="$parent.$emit('input', $event.target.value)"
        name="fieldName"

      />
      <!-- checked="checked -->
      <span class="checkmark"></span>
      {{ option }}
    </label>
  </div>
</div>
</template>

<script>
export default {
  props: {
    option: {
      required: true,
      type: String,
    },
    fieldName: {
      type:String,
    }
  },
};
</script>

<style>
  .custom_radio label{
    min-width: 80px;
    padding: 0 20px;
    height: 40px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50px;
  }
  .custom_radio input{
    visibility: hidden;
    margin-left: -15px;
  }
  .custom_radio img{
    width: 15px;
    margin-right: 10px;
  }
  .base_rd_container {
  display: block;
  position: relative;
  /*padding-left: 35px;*/
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 30px;
}

/* Hide the browser's default radio button */
.base_rd_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.base_rd_container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 20px;
  background: none;
}

.base_rd_container:hover input ~ .checkmark {
  /*background-color: #ccc;*/
}

.base_rd_container input:checked ~ .checkmark {
  background-color: #8e27ea38;
  border: 1px solid #8E27EA;
  width: 100%;
  border-radius: 50px;
  height: 40px;

}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.base_rd_container input:checked ~ .checkmark:after {
  display: block;
}

</style>