<template>
  <div class="input-group">
    <BaseRadioButton v-for="option in options" :option="option" :key="option" />
  </div>
</template>

<script>

export default {
  props: {
    options: {
     required: true,
     type: Array
    }
  }
};
</script>

<style>

</style>