<template>
    <div>
        <template v-if="$store.state.userInfo">
            <div class="info_screen">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info_img">
                                <div class="digg">
                                    <h1>digg</h1>
                                </div>
                                <div class="under_img">
                                    <p>
                                        "Coming to Dubai with One Step Dubai has been the best decision of my life. I am now <br>living in Dubai with a good job and I will be getting married next year!"
                                    </p>
                                    <strong>Mohammed, One Step Dubai student</strong><br>
                                    <strong>Pakistan</strong>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_right">
                                    <div class="top_heading">
                                        <h2>Apply now to work in Dubai</h2>
                                    </div>
                                    <form @submit.prevent="AddUserInfo()">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <BaseInput v-model="apply_now_form.firstname" >First Name</BaseInput>
                                            </div>
                                            <div class="col-xl-6">
                                                <BaseInput v-model="apply_now_form.lastname">Last Name</BaseInput>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Nationality</label>
                                                    <select class="form-control" v-model="apply_now_form.nationality">
                                                      <option value="pakistan">pakistan</option>
                                                      <option value="uae">UAE</option>
                                                      <option value="uk">UK</option>
                                                      <option value="france">France</option>
                                                      <option value="india">India</option>
                                                    </select>
                                                  </div>
                                              </div>
                                              <div class="col-xl-6">
                                                <BaseInput v-model="apply_now_form.dob">Date of birth</BaseInput>
                                            </div>
                                            <div class="col-xl-6">
                                                <label>Gender</label>
                                                <div class="d-flex">

                                                <label class="rd_container">Male
                                                  <input type="radio" checked="checked" name="gender" :v-model="apply_now_form.gender">
                                                  <span class="checkmark"></span>
                                                </label>
                                                <label class="rd_container">Female
                                                  <input type="radio" name="gender" :v-model="apply_now_form.gender">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Country of residence</label>
                                                    <select v-model="apply_now_form.country" class="form-control">
                                                      <option value="pakistan">pakistan</option>
                                                      <option value="uae">UAE</option>
                                                      <option value="uk">UK</option>
                                                      <option value="france">France</option>
                                                      <option value="india">India</option>
                                                    </select>
                                                  </div>
                                            </div>
                                            <div class="col-xl-12">
                                                <div class="top_heading">
                                                    <h2>How we can contact you?</h2>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <BaseInput v-model="apply_now_form.contact_no">Contact No</BaseInput>
                                            </div>
                                            <div class="col-xl-6">
                                                <BaseInput v-model="apply_now_form.email">Email</BaseInput>
                                            </div>
                                        </div>
                                        <BaseSubmit style="float:right;">Apply Now</BaseSubmit>
                                    </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <StepOne v-if="$store.state.step_one"></StepOne>
        <StepTwo v-if="$store.state.step_two"></StepTwo>
        <StepThree v-if="$store.state.step_three"></StepThree>
        <StepFour v-if="$store.state.step_four"></StepFour>
        <StepFive v-if="$store.state.step_five"></StepFive>
        <StepSix v-if="$store.state.step_six"></StepSix>
        <StepSeven v-if="$store.state.step_seven"></StepSeven>
        <StepEight v-if="$store.state.step_eight"></StepEight>
    </div>
</template>

<script>
import StepOne from './StepOne'
import StepTwo from './StepTwo'
import StepThree from './StepThree'
import StepFour from './StepFour'
import StepFive from './StepFive'
import StepSix from './StepSix'
import StepSeven from './StepSeven'
import StepEight from './StepEight'
import { mapState } from 'vuex'
    export default {
        components:{
            StepOne,
            StepTwo,
            StepThree,
            StepFour,
            StepFive,
            StepSix,
            StepSeven,
            StepEight
        },
        data: () => ({
            gender: ["Male", "Female"],
        }),
        computed:{
            ...mapState(['apply_now_form'])
        },
        methods:{
            AddUserInfo(){
                this.$store.dispatch("AddUserInfo", this.apply_now_form);
                this.$store.dispatch("EnableStepOne")
            }
        }
    };
</script>

<style>
      /*=================================*/
  .rd_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 30px;
}

/* Hide the browser's default radio button */
.rd_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  /*border-radius: 50%;*/
}

/* On mouse-over, add a grey background color */
.rd_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.rd_container input:checked ~ .checkmark {
  background-color: #8E27EA;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.rd_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.rd_container .checkmark:after {
  top: 7px;
  left: 7px;
  width: 7px;
  height: 7px;
  /*border-radius: 50%;*/
  background: white;
}
</style>