<template>
    <div class="bg_inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3">
                    <div class="digg_steps">
                        <h1>digg</h1>
                    </div>
                </div>
                <div class="col-xl-9">
                    <ProgressBar :val='30'></ProgressBar>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="question">
                        <p>Why do you want to come to Dubai?</p>
                    </div>
                    <div class="question_options">
                        <BaseRadioButtonGroup :fieldName="q4" :options="q4_options" v-model="q4" />
                    </div>
                </div>
            </div>
        </div>
        <button class="prev" @click="EnableStepOne()">Prev</button>
        <button class="next" @click="EnableStepThree()">Next</button>
    </div>
</template>

<script>
import ProgressBar from '../components/ProgressBar'
    export default{
        components:{
            ProgressBar,
        },
        data: () => ({
            q4_options: ["Lifestyle", "Work opportunities", "Education","Finance","Tourism","Family","Business","Security","Culture"],
        }),
        computed:{
            q4: {
                get () {
                  return this.$store.state.q4
                },
                set (value) {
                  this.$store.commit('ADD_Q4', value)
                }
            },
        },
        methods: {
            EnableStepOne(){
                this.$store.dispatch("EnableStepOne")
            },
            EnableStepThree(){
                this.$store.dispatch("EnableStepThree")
            }
        },
        mounted(){
            this.$store.state.radio_for_home = false
        }
    };
</script>