<template>
    <div class="bg_inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3">
                    <div class="digg_steps">
                        <h1>digg</h1>
                    </div>
                </div>
                <div class="col-xl-9">
                    <ProgressBar :val='90'></ProgressBar>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="question">
                        <p>How soon you want to come to Dubai?</p>
                    </div>
                    <div class="question_options">
                        <BaseRadioButtonGroup :options="q9_options" v-model="q9" />
                    </div>
                </div>
            </div>
        </div>
        <button class="prev" @click="EnableStepSix()">Prev</button>
        <button class="next" @click="EnableStepEight()">Next</button>
    </div>
</template>

<script>
import ProgressBar from '../components/ProgressBar'
    export default{
        components:{
            ProgressBar,
        },
        data: () => ({
            q9_options: ["Right Now", "0 to 3 months", "3 to 6 months","6 to 12 months","After 0ne year","I'm not sure"],
        }),
        computed:{
            q9: {
                get () {
                  return this.$store.state.q9
                },
                set (value) {
                  this.$store.commit('ADD_Q9', value)
                }
            },
        },
        methods: {
            EnableStepSix(){
                this.$store.dispatch("EnableStepSix")
            },
            EnableStepEight(){
                this.$store.dispatch("EnableStepEight")
            }
        }
    };
</script>

