<template>
    <div class="bg_inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3">
                    <div class="digg_steps">
                        <h1>digg</h1>
                    </div>
                </div>
                <div class="col-xl-9">
                    <ProgressBar :val='45'></ProgressBar>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="question">
                        <p>What industry would you preffer to wor in?</p>
                    </div>
                    <div class="question_options">
                        <BaseRadioButtonGroup :options="q5_options" v-model="q5" />
                    </div>
                </div>
            </div>
        </div>
        <button class="prev" @click="EnableStepTwo()">Prev</button>
        <button class="next" @click="EnableStepFour()">Next</button>
    </div>
</template>

<script>
import ProgressBar from '../components/ProgressBar'
    export default{
        components:{
            ProgressBar,
        },
        data: () => ({
            q5_options: ["Construction", "Hospitality", "Real Estate","Tourism","Manufacturing","Farming","Fishing","Education","Public services","Administration","Technology","Media","Finincial Services","Leagel","Healthcare","Government","Medical","security","Logistics","Reortics","Fashion","Automative","Transportation","Customer Support"],
        }),
        computed:{
            q5: {
                get () {
                  return this.$store.state.q5
                },
                set (value) {
                  this.$store.commit('ADD_Q5', value)
                }
            },
        },
        methods: {
            EnableStepTwo(){
                this.$store.dispatch("EnableStepTwo")
            },
            EnableStepFour(){
                this.$store.dispatch("EnableStepFour")
            }
        }
    };
</script>