<template>
    <div class="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3">
                    <div class="digg_steps">
                        <h1>digg</h1>
                    </div>
                </div>
                <div class="col-xl-9">
                    <ProgressBar :val='100'></ProgressBar>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="review_page">
                        <div class="review_heading">
                            <h4>Complete - Review your applicaiton</h4>
                        </div>
                    </div>
                    <div class="basic_info">
                        <a href="javascript:;" @click="EnableUserInfo()">Basic Information <i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <ul>
                            <li><span>Name:</span>{{ apply_now_form.firstname }} {{ apply_now_form.lastname }}</li>
                            <li><span>Date of Birth</span>{{ apply_now_form.dob }}</li>
                            <li><span>Gender:</span>{{ apply_now_form.gender }}</li>
                            <li><span>Nationality</span>{{ apply_now_form.nationality }}</li>
                            <li><span>Country of residence</span>{{ apply_now_form.country }}</li>
                            <li><span>Contact no:</span>{{ apply_now_form.contact_no }}</li>
                            <li><span>Email:</span>{{ apply_now_form.email }}</li>
                        </ul>
                    </div>

                    <div class="basic_info">
                        <a href="javascript:;">Questionnaire</a>
                        <div class="selection">
                            <p>Have you ever visited Dubai? <a href="javascript:;" @click="EnableUserInfo()"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                            <div class="final_data"> {{ q1 }}</div>
                        </div>
                        <div class="selection">
                            <p>Do you have any friends and family members in Dubai?<a href="javascript:;" @click="EnableUserInfo()"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                            <div class="final_data"> {{ q2 }}</div>
                        </div>
                        <div class="selection">
                            <p>How long do you want to stay in Dubai? <a href="javascript:;" @click="EnableUserInfo()"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                            <div class="final_data"> {{ q3 }}</div>
                        </div>
                        <div class="selection">
                            <p>Why do you want to come to Dubai? <a href="javascript:;" @click="EnableStepTwo()"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                            <div class="final_data"> {{ q4 }}</div>
                        </div>
                        <div class="selection">
                            <p>What industry would you preffer to wor in? <a href="javascript:;" @click="EnableStepThree()"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                            <div class="final_data"> {{ q5 }}</div>
                        </div>
                        <div class="selection">
                            <p>What aare your Interests? <a href="javascript:;" @click="EnableStepFour()"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                            <div class="final_data"> {{ q6 }}</div>
                        </div>
                        <div class="selection">
                            <p>Do you have any finincial saving? <a href="javascript:;" @click="EnableStepFive()"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                            <div class="final_data"> {{ q7 }}</div>
                        </div>
                        <div class="selection">
                            <p>What is your level of education? <a href="javascript:;" @click="EnableStepSix()"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                            <div class="final_data"> {{ q8 }}</div>
                        </div>
                        <div class="selection">
                            <p>How soon you want to come to Dubai? <a href="javascript:;"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                            <div class="final_data"> {{ q8 }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="prev" @click="EnableStepSix()">Prev</button>
        <button class="next" @click="Finish">Complete Application</button>
    </div>
</template>

<script>
import ProgressBar from '../components/ProgressBar'
import {mapState} from 'vuex'
    export default{
        components:{
            ProgressBar,
        },
        computed:{
            ...mapState(['apply_now_form','q1','q2','q3','q4','q5','q6','q7','q8']),
            q9: {
                get () {
                  return this.$store.state.q9
                },
                set (value) {
                  this.$store.commit('ADD_Q9', value)
                }
            },
        },
        methods: {
            EnableUserInfo(){
                this.$store.dispatch("EnableUserInfo")
            },
            EnableStepOne(){
                this.$store.dispatch("EnableStepOne")
            },
            EnableStepTwo(){
                this.$store.dispatch("EnableStepTwo")
            },
            EnableStepThree(){
                this.$store.dispatch("EnableStepThree")
            },
            EnableStepFour(){
                this.$store.dispatch("EnableStepFour")
            },
            EnableStepFive(){
                this.$store.dispatch("EnableStepFive")
            },
            EnableStepSix(){
                this.$store.dispatch("EnableStepSix")
            },
            EnableStepEight(){
                this.$store.dispatch("EnableStepEight")
            }
        }
    };
</script>

<style>
.basic_info{
    background-color: #F3F3F3;
    padding:20px;
    margin-bottom: 20px;
}
.basic_info a{
    color: #8E27EA;
}
.selection{
    margin-bottom: 30px;
}
.selection i{
    font-size: 16px;
    color: #8E27EA;
}
.basic_info ul li{
    display: inline-block;
    margin-right: 20px;
}
</style>