<template>
    <div class="bg_inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3">
                    <div class="digg_steps">
                        <h1>digg</h1>
                    </div>
                </div>
                <div class="col-xl-9">
                    <ProgressBar :val='80'></ProgressBar>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="question">
                        <p>What is your level of education?</p>
                    </div>
                    <div class="question_options">
                        <BaseRadioButtonGroup :options="q8_options" v-model="q8" />
                    </div>
                </div>
            </div>
        </div>
        <button class="prev" @click="EnableStepFive()">Prev</button>
        <button class="next" @click="EnableStepSeven()">Next</button>
    </div>
</template>

<script>
import ProgressBar from '../components/ProgressBar'
    export default{
        components:{
            ProgressBar,
        },
        data: () => ({
            q8_options: ["High school or less", "Collage", "Diploma","Bachelors"],
        }),
        computed:{
            q8: {
                get () {
                  return this.$store.state.q8
                },
                set (value) {
                  this.$store.commit('ADD_Q8', value)
                }
            },
        },
        methods: {
            EnableStepFive(){
                this.$store.dispatch("EnableStepFive")
            },
            EnableStepSeven(){
                this.$store.dispatch("EnableStepSeven")
            }
        }
    };
</script>