<template>
    <div class="bg_inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3">
                    <div class="digg_steps">
                        <h1>digg</h1>
                    </div>
                </div>
                <div class="col-xl-9">
                    <ProgressBar :val='65'></ProgressBar>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="question">
                        <p>Do you have any finincial saving?</p>
                    </div>
                    <div class="question_options">
                        <BaseRadioButtonGroup :options="q7_options" v-model="q7" />
                    </div>
                </div>
            </div>
        </div>
        <button class="prev" @click="EnableStepFour()">Prev</button>
        <button class="next" @click="EnableStepSix()">Next</button>
    </div>
</template>

<script>
import ProgressBar from '../components/ProgressBar'
    export default{
        components:{
            ProgressBar,
        },
        data: () => ({
            q7_options: ["No Saving", "0 to 1000 aed", "1000 aed to 5000 aed","5000 aed to 10,000 aed","10,000 aed to 20,000 aed","20,000 aed to 50,000 aed","+50,000 aed"],
        }),
        computed:{
            q7: {
                get () {
                  return this.$store.state.q7
                },
                set (value) {
                  this.$store.commit('ADD_Q7', value)
                }
            },
        },
        methods: {
            EnableStepFour(){
                this.$store.dispatch("EnableStepFour")
            },
            EnableStepSix(){
                this.$store.dispatch("EnableStepSix")
            }
        }
    };
</script>