<template>
    <div class="bg_inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3">
                    <div class="digg_steps">
                        <h1>digg</h1>
                    </div>
                </div>
                <div class="col-xl-9">
                    <ProgressBar :val='50'></ProgressBar>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="question">
                        <p>What aare your Interests?</p>
                    </div>
                    <div class="question_options">
                        <BaseRadioButtonGroup :options="q6_options" v-model="q6" />
                    </div>
                </div>
            </div>
        </div>
        <button class="prev" @click="EnableStepThree()">Prev</button>
        <button class="next" @click="EnableStepFive()">Next</button>
    </div>
</template>

<script>
import ProgressBar from '../components/ProgressBar'
    export default{
        components:{
            ProgressBar,
        },
        data: () => ({
            q6_options: ["Outdoor", "Fitness", "Health","Travel","Sports","Theme parks","Cooking","Adventure","Music","Fashion","Technology","Architecture","Writing","Gaming","Dining","History","Theater","Networking","Art","Politics","Fishing","Meet People","Podcasts","Gambling","Self Employment","Foreign Languages","Movies","Celebrities","Dating","Social media","Photography"],
        }),
        computed:{
            q6: {
                get () {
                  return this.$store.state.q6
                },
                set (value) {
                  this.$store.commit('ADD_Q6', value)
                }
            },
        },
        methods: {
            EnableStepThree(){
                this.$store.dispatch("EnableStepThree")
            },
            EnableStepFive(){
                this.$store.dispatch("EnableStepFive")
            }
        }
    };
</script>