<template>
    <div class="bg_inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3">
                    <div class="digg_steps">
                        <h1>digg</h1>
                    </div>
                </div>
                <div class="col-xl-9">
                    <ProgressBar :val='15'></ProgressBar>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="question">
                        <p>Have you ever visited Dubai?</p>
                    </div>
                    <div class="question_options">
                        <BaseRadioButtonGroup :fieldName="q1" :options="q1_options" v-model="q1" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="question">
                        <p>Do you have any friends and family members in Dubai?</p>
                    </div>
                    <div class="question_options">
                        <BaseRadioButtonGroup :fieldName="q2" :options="q2_options" v-model="q2" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="question">
                        <p>How long do you want to stay in Dubai?</p>
                    </div>
                    <div class="question_options">
                        <BaseRadioButtonGroup :fieldName="q3" :options="q3_options" v-model="q3" />
                    </div>
                </div>
            </div>
        </div>
        <button class="prev" @click="EnableUserInfo()">Prev</button>
        <button class="next" @click="EnableStepTwo()">Next</button>
    </div>
</template>

<script>
import ProgressBar from '../components/ProgressBar'
    export default{
        components:{
            ProgressBar,
        },
        data: () => ({
            q1_options: ["No", "Yes"],
            q2_options: ["No", "Yes"],
            q3_options: ["Upto 3 months", "3 to 6 months", "6 to 12 months","+12 months","+3 years"],
        }),
        computed:{
            q1: {
                get () {
                  return this.$store.state.q1
                },
                set (value) {
                  this.$store.commit('ADD_Q1', value)
                }
            },
            q2: {
                get () {
                  return this.$store.state.q2
                },
                set (value) {
                  this.$store.commit('ADD_Q2', value)
                }
            },
            q3: {
                get () {
                  return this.$store.state.q3
                },
                set (value) {
                  this.$store.commit('ADD_Q3', value)
                }
            },
            progress: {
                get () {
                  return this.$store.state.progress
                },
                set (value) {
                  this.$store.commit('SET_PROGRESS', value)
                }
            }
        },
        methods: {
            EnableUserInfo(){
                this.$store.dispatch("EnableUserInfo")
            },
            EnableStepTwo(){
                this.$store.dispatch("EnableStepTwo")
            }
        }
    };
</script>