<template>
    <div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" :style="{ width: val + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    </div>
</template>

<script>
	export default{
        props:['val']
	};
</script>

<style>
    .progress{
        margin-top: 70px;
    }
    .progress-bar{
        background:linear-gradient(45deg, #4734E1, #8E27EA);
    }
    @media (max-width: 768px){
        .progress{
            margin-bottom: 30px;
        }
    }
</style>