<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
	body{
		font-family: 'IBM Plex Sans', sans-serif;
	}
	.info_screen{
		background: url('./assets/images/info_bg.png');
		height: 100vh;
		width: 100vw;
		background-repeat: no-repeat;
		background-size: contain;

	}
	.info_img{
		position: relative;
	}
	.digg{
		color: #fff;
		margin-top: 50px;
		margin-left: 50px;
	}
	.digg h1{
		font-size: 2.5em;
	}
	.digg_steps h1{
		color: #222;
		margin-top: 50px;
		margin-left: 50px;
		font-size: 2.5em;
	}

	.under_img{
		color: #fff;
		height: 550px;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex-direction: column;
		padding-left: 50px;
	}
	.under_img p{
		color: #fff;
		font-size: 12px;
	}
	.form_right{
		padding: 8em 5em 0 0;
	}
	.top_heading h2{
		font-size: 24px;
	}
	button.prev{
		background:transparent;
		padding:10px;
		border-radius: 30px;
		border:none;
		width: 150px;
		color:#222;
		font-weight: 600;
		margin-top:2em;
		margin-bottom: 5em;
	}
	button.next{
		background:linear-gradient(45deg, #4734E1, #8E27EA);
		padding:10px;
		border-radius: 30px;
		border:none;
		width: 200px;
		color:#fff;
		margin-top:2em;
		margin-bottom: 5em;
	}
	.final_data {
		background:linear-gradient(45deg, #4734E1, #8E27EA);
		padding:10px 20px;
		border-radius: 30px;
		border:none;
		min-width: 100px;
		display: inline-block;
		color:#fff;
	}
	.bg_inner{
		background: url('./assets/images/bg_inner.png');
		height: 100vh;
		width: 100vw;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	@media (max-width: 768px){
		.info_screen{
			background: url('./assets/images/mob_bg_top.png');
			background-size: 63%;
			background-repeat: no-repeat;
			background-position: 150% -35%;
			width: 100%;
		}
		.bg_inner{
			background: url('./assets/images/mob_bg_top.png');
			background-size: 63%;
			background-repeat: no-repeat;
			background-position: 150% -35%;
			width: 100%;
		}

		.under_img{
			display: none;
		}
		.digg{
			margin-top: 15px;
			margin-left: 0px;
			margin-bottom: 50px;
		}
		.digg h1{
			color:#222;
		}
		.form_right{
			padding: 0;
		}
	}
</style>